/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Oct-2020, 6:22:18 am
    Author     : prashanth
*/

html{
    position: relative;
    min-height: 100%
}

body .container{
    padding: 0 15px;
    max-width: 96%;
}

.logo-box { margin:0 0 20px;}
.logo-box .logo-head { margin:0px 10px; font-size:22px; vertical-align:middle; font-weight:bold; line-height:30px; display:inline-block;}
.login-box .logo-box img { height:50px;}
.login-box .login-header h4 { margin:0px;}
.login-box .login-header h5 { margin:0 0 20px; font-weight:normal;}
.login-box { box-shadow:2px 2px 5px rgba(0,0,0,0.3); border:1px solid #ccc; padding:40px 50px; border-radius:4px; background:#f9f9f9; margin:30px 0px;}
.login-box .btn-action .btn { width:100%;}


