<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GeneratePublicKey</servlet-name>
        <servlet-class>com.emudhra.sodiumdemo.api.GeneratePublicKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SodiumDecrypt</servlet-name>
        <servlet-class>com.emudhra.sodiumdemo.api.SodiumDecrypt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneratePublicKey</servlet-name>
        <url-pattern>/generatepublickey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SodiumDecrypt</servlet-name>
        <url-pattern>/decrypt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
